.App {
  /* display: flex; */
}
.App form{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 70%;
  justify-content: space-between;
}
input{
  display: block;
}

